* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: linear-gradient(#3027a3, #c71717);
    max-width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-family: Arial;
    padding: 3vh;
}

.intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3. 1fr);
    margin: 4vh;
    gap: 4vh;
}

.p1 {
    font-family: Arial;
    font-size: 3vh;
    text-align: center;
}

img {
    border-radius: 1vh;
}

.p2 {
    font-family: Arial;
    font-size: 3.7vh;
    text-align: justify;
}

.p3 {
    font-family: Arial;
    font-size: 3.7vh;
    text-align: justify;
}

.home {
    display: flex;
    justify-content: center;
    gap: 4vh;
    font-size: 2.5vh;
}

.field {
    padding: 0.4vh;
    border-radius: 1vh;
    font-size: 2vh;
}

.field:hover {
    background-color: #3027a3;
}

a {
    text-decoration: none;
}