@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Titillium+Web:wght@200&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lobster";
  color: rgba(255, 255, 255, 0.8);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(10, 10, 50, 0.6);
}

a {
  text-decoration: none;
}

#topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(10, 10, 50, 0.9);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#topo h1 {
  margin: 20px 50px;
}

#topo ul {
  font-size: 1.7em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  gap: 100px;
  margin: 20px 50px;
}

#topo a span {
  padding: 10px;
}

#menu {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
}

#menu h2 {
  border-left: 4px solid rgba(10, 10, 50, 0.9);
  border-right: 4px solid rgba(10, 10, 50, 0.9);
  border-radius: 33%;
  padding: 10px;
  margin: 30px;
  margin-right: 80px;
}

.titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3em;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  padding: 20px;
}

.conteudo a {
  padding: 10px;
  color: rgba(10, 10, 50, 0.9);
}

#tecnologias {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

#tecnologias h2 {
  border-left: 4px solid rgba(10, 10, 50, 0.9);
  border-right: 4px solid rgba(10, 10, 50, 0.9);
  border-radius: 33%;
  padding: 5px;
}

#tecnologias ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

#tecnologias span {
  font-size: 30px;
}

#contato {
  bottom: 0;
  width: 100%;
  text-align: center;
}

#contato ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

#contato span {
  font-size: 35px;
  color: rgba(10, 10, 50, 0.9);
}

.rodape {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
